* {
	font-family: 'Fira Code', monospace;
	cursor: url("../Img/curor.cur"), default;
	scrollbar-color: #197609 black;
	scrollbar-width: thin;
}
body,
html {
	background-color: black;
	color: lightgray;
}
body {
	padding: 5% 17%;
	display: flex;
	flex-direction: column;
}
.navbar-brand {
	display: flex;
	padding: 0 10% 0 1%;
}
.navbar .padding_space {
	height: 100%;
	width: 100%;
}
.navbar-brand img {
	padding-right: 5%;
}
.navbar-brand h2 {
	padding-right: 5%;
	text-align: center;
	margin-top: 4%;
}
.nav-item {
	margin: 0;
}
.nav-item:hover {
	border: 1px dashed #197609;
	letter-spacing: 1px;
}
.nav-item h3 {
	color: lightgray;
	font-size: small;
}
.home_banner {
	display: flex;
	flex-direction: row;
}
.home_banner .col-8 {
	margin: 0;
	padding: 0;
	display: flex;
	height: 100%;
}
.home_banner .col-8 img {
	padding: 2% 4%;
	border: #197609 solid 3px;
	justify-content: center;
	align-items: center;
}
.home_banner .col-2 {
	height: 0%;
	border: #197609 solid 1px;
}
.home_banner .left {
	margin-top: 6%;
}
.home_banner .right {
	margin-top: 19%;
}
.section {
	border: #197609 3px solid;
	margin: 0 10%;
	padding: 5%;
	text-align: center;
}
.section p a {
	text-decoration: none;
	color: #197609;
}

/* start of the pop up announcement */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /*Fallback color*/
	background-color: rgb(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #000000;
	margin: 4% auto; /* 15% from the top and centered */
	padding: 20px 40px;
	border: 1px solid #197609;
	width: 60%; /* Could be more or less, depending on screen size */
	text-align: center;
}
.modal-content h2 {
	text-align: center;
}
.modal-content span {
	text-align: right;
}
.modal-content center {
	padding: 5% 0 10% 0;
}
/* The Close Button */
.close {
	color: #197609;
	float: right;
	font-size: 60px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: rgb(255, 255, 255);
	text-decoration: none;
	cursor: pointer;
}
/* end of the pop up announcement */

.whatsnew .overlap {
	width: 100%;
	height: 100%;
	background-image: url(../Img/updates.PNG);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
}
.whatsnew .overlap h2 {
	padding-top: 6%;
	font-size: 250%;
}

.schedule .overlap {
	background-image: url(../Img/countdown.PNG);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}
.schedule .overlap h2 {
	padding-top: 6%;
	font-size: 250%;
}
.info .overlap {
	background-image: url(../Img/competition.PNG);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}
.info .overlap h2 {
	padding-top: 6%;
	font-size: 250%;
}
.team .overlap {
	background-image: url(../Img/us.PNG);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}
.team .overlap h2 {
	padding-top: 6%;
	font-size: 250%;
}
.why .overlap {
	background-image: url(../Img/mission.PNG);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}
.why .overlap h2 {
	padding-top: 6%;
	font-size: 250%;
}
.requirements a {
	text-decoration: none;
	color: white;
}
.divider {
	display: flex;
	align-items: center;
	justify-content: center;
}
.empty-space {
	margin-left: 10%;
	padding: 5%;
	width: 80%;
	height: 100%;
}

.two {
	margin-left: 20%;
	width: 70%;
	border-left: #197609 3px solid;
}
.four {
	margin-left: 50%;
	width: 50%;
	border-left: #197609 3px solid;
}

.five {
	margin-left: 15%;
	width: 70%;
	border-left: #197609 3px solid;
	border-right: #197609 3px solid;
}
.timers p {
	font-size: xx-large;
}
.information + .empty-space {
	border-left: #197609 solid 3px;
	margin-left: 15%;
}
.Objective + .empty-space {
	border-right: #197609 solid 3px;
	width: 75%;
}
.footer {
	padding: 5% 5% 0 5%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	border-top: #197609 solid 3px;
}
.footer .logos a {
	padding: 0 3%;
}
.fab,
.fas {
	color: #197609;
	font-size: larger;
}
.footer .name a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
}

@media only screen and (max-width: 1450px) {
	.timers p {
		font-size: x-large;
	}
	.section .overlap h2 {
		font-size: xx-large;
	}
}
@media only screen and (max-width: 1400px) {
	.nav-link img {
		width: 50px;
		height: 40px;
	}
	.nav-link h3 {
		font-size: x-small;
	}
}

@media only screen and (max-width: 1150px) {
	body {
		padding: 5% 10%;
	}
	.nav-link img {
		width: 45px;
		height: 35px;
	}
	.nav-link h3 {
		font-size: xx-small;
	}
	.section .overlap h2 {
		font-size: x-large;
	}
	.section p {
		font-size: medium;
	}
	.timers p {
		font-size: large;
	}
	.modal-content {
		margin: 6% auto;
		padding: 20px;
	}
	.modal-content h2 {
		font-size: x-large;
	}
	.modal-content p {
		font-size: medium;
	}
	.close {
		font-size: 40px;
	}
}

@media only screen and (max-width: 1000px) {
	.section .overlap h2 {
		font-size: large;
	}
	.section p {
		font-size: small;
	}
	.timers p {
		font-size: 95%;
	}
}
@media only screen and (max-width: 800px) {
	body {
		padding: 5% 0;
	}
	.section p {
		font-size: x-small;
	}
	.timers p {
		font-size: small;
	}
	.modal-content {
		margin: 26% auto;
	}
	.modal-content h2 {
		font-size: large;
	}
	.modal-content p {
		font-size: x-small;
	}
	.close {
		font-size: 30px;
	}
}
@media only screen and (max-width: 500px) {
	.section .overlap h2 {
		font-size: medium;
	}
	.timers p {
		font-size: x-small;
	}
	.modal-content {
		margin: 26% auto;
		padding: 5%;
	}
	.modal-content h2 {
		font-size: medium;
	}
	.modal-content p {
		font-size: xx-small;
	}
}
