* {
	font-family: 'Fira Code', monospace;
	cursor: url("../Img/curor.cur"), auto;
}
body,
html {
	color: lightgray;
	background-color: black;
}
body {
	padding: 5% 17%;
}
.navbar-brand {
	display: flex;
	padding: 0 10% 0 1%;
}
.navbar .padding_space {
	height: 100%;
	width: 100%;
}
.navbar-brand img {
	padding-right: 5%;
}
.navbar-brand h2 {
	padding-right: 5%;
	text-align: center;
	margin-top: 4%;
}
.nav-item {
	padding: 0;
	margin: 0;
}
.nav-item:hover {
	border: 1px dashed #197609;
	letter-spacing: 1px;
}
.nav-item h3 {
	color: lightgray;
	font-size: small;
}
.home_banner .col-8 {
	margin: 0;
	padding: 0;
	height: 100%;
}
.home_banner .col-8 img {
	padding: 2% 4%;
	border: #197609 solid 3px;
}
.home_banner .col-2 {
	margin-top: 13%;
	height: 0%;
	border: #197609 solid 1px;
}
.section {
	border: #197609 3px solid;
	padding: 5% 3%;
	margin: 0 3%;
	text-align: center;
}
.requirements a {
	text-decoration: none;
	color: white;
}
.empty-space {
	margin-left: 10%;
	padding: 5%;
	width: 80%;
	height: 100%;
}
.information + .empty-space {
	border-left: #197609 solid 3px;
	margin-left: 15%;
}
.Objective + .empty-space {
	border-right: #197609 solid 3px;
	width: 75%;
}
.footer {
	padding: 5% 5% 0 5%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	border-top: #197609 solid 3px;
}
.footer .logos a {
	padding: 0 3%;
}
.fab,
.fas {
	color: #197609;
	font-size: larger;
}
.footer .name a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
}

/* Test Code */
